addfips>=0.4
fiona~=1.10.1
psycopg2~=2.9.11
pytest~=6.2.5
tqdm>=4.64.1,<5.0.0
python-docx~=0.8.11
pygeocodio~=2.0.1
googlemaps~=4.5.3
pandas-gbq~=0.31.0
pydata-google-auth~=1.7.0
pandera[io]~=0.26.1
jupyterlab~=4.3.0
pandas~=1.4.0
joblib~=1.2.0
beautifulsoup4~=4.11
plotly~=5.15.0
gridstatus~=0.20.0
s3fs>=2022.11.0
click>=8.1.7
pyairtable>=2.3.3
numpy<2
sqlalchemy<3.0
coloredlogs~=15.0.1
scipy~=1.14.1
google-cloud-storage~=3.6.0
geopandas~=1.0.1
gcsfs~=2025.10.0
pydantic<2.10,>=2.9 # https://github.com/gtalarico/pyairtable/issues/411
us~=3.2.0
matplotlib~=3.10.0
us~=3.2.0
