catalystcoop.pudl==2022.11.30
psycopg2~=2.9.3
pytest~=6.2.5
tqdm>=4.64.1,<5.0.0
python-docx~=0.8.11
googlemaps~=4.5.3
pandas-gbq~=0.19.1
pydata-google-auth~=1.7.0
pandera[io]~=0.8.1
jupyterlab~=3.2.8
pandas~=1.4.0
joblib~=1.2.0
beautifulsoup4~=4.11
plotly~=5.15.0
gridstatus~=0.20.0
s3fs>=2022.11.0
