- generation_num: 1769302997386337
  metadata:
    schema_generation_number: '1769302989517966'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1769302996631600
  metadata:
    schema_generation_number: '1769302989517966'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
