- generation_num: 1771118003039330
  metadata:
    schema_generation_number: '1771117995386856'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1771118002353151
  metadata:
    schema_generation_number: '1771117995386856'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
