- generation_num: 1765204513812068
  metadata:
    schema_generation_number: '1765204506370899'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1765204513222648
  metadata:
    schema_generation_number: '1765204506370899'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
