- generation_num: 1767900709402622
  metadata:
    schema_generation_number: '1767900701501999'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1767900708470297
  metadata:
    schema_generation_number: '1767900701501999'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
