- generation_num: 1763488146885942
  metadata:
    schema_generation_number: '1763488139182118'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1763488146006718
  metadata:
    schema_generation_number: '1763488139182118'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
