- generation_num: 1770513991427681
  metadata:
    schema_generation_number: '1770513983746940'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1770513990820003
  metadata:
    schema_generation_number: '1770513983746940'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
