- generation_num: 1763859567122857
  metadata:
    schema_generation_number: '1763859559561326'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1763859566456418
  metadata:
    schema_generation_number: '1763859559561326'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
