- generation_num: 1763054441327731
  metadata:
    schema_generation_number: '1763054440185798'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1763054440608436
  metadata:
    schema_generation_number: '1763054440185798'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
