- generation_num: 1769908610456107
  metadata:
    schema_generation_number: '1769908602681245'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1769908609750840
  metadata:
    schema_generation_number: '1769908602681245'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
