- generation_num: 1767639584707664
  metadata:
    schema_generation_number: '1767639577025766'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1767639583922114
  metadata:
    schema_generation_number: '1767639577025766'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
