- generation_num: 1768093349441524
  metadata:
    schema_generation_number: '1768093341455373'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1768093348486053
  metadata:
    schema_generation_number: '1768093341455373'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
