- generation_num: 1766278742431355
  metadata:
    schema_generation_number: '1766278734714911'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1766278741810665
  metadata:
    schema_generation_number: '1766278734714911'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
