- generation_num: 1765673992170205
  metadata:
    schema_generation_number: '1765673984565043'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1765673991272007
  metadata:
    schema_generation_number: '1765673984565043'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
