- generation_num: 1768930405238223
  metadata:
    schema_generation_number: '1768930403794732'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1768930404330474
  metadata:
    schema_generation_number: '1768930403794732'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
