- generation_num: 1771722572515925
  metadata:
    schema_generation_number: '1771722564581312'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1771722571634174
  metadata:
    schema_generation_number: '1771722564581312'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
