- generation_num: 1764464336189935
  metadata:
    schema_generation_number: '1764464328737629'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1764464335580943
  metadata:
    schema_generation_number: '1764464328737629'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
