- generation_num: 1763056935449562
  metadata:
    schema_generation_number: '1763056927968031'
    table_id: tbluX3aa4T2lhvRFv
  name: airtable/Offshore Wind Locations DBCP Version/Locations.json
  pinned: false
- generation_num: 1763056934795529
  metadata:
    schema_generation_number: '1763056927968031'
    table_id: tblVK1P1eYblnevqo
  name: airtable/Offshore Wind Locations DBCP Version/Projects.json
  pinned: false
